.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.card_container{
    flex-wrap: wrap;
    justify-content:center;
    align-items:center; 
    margin-top: 10px;
}