.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color:brown;
    height: 65px;
}

.header_item{
    margin-top: 15px;
    font-weight: bold;
    margin-left: 10px;
}